/*
===================================================
PROJECT PAGE
===================================================
*/

.project {
    margin-top: 50px;
}

.project img {
	width: 145px;
    height: 145px;
    margin: 7px;
	-o-object-fit: cover;
	   object-fit: cover;
}

.project .wrap {
	color: #ffffff;
}

.project__paragraph {
	padding: 25px 0;
	line-height: 24px;
	font-weight: 300;
}

.project__heading {
	@include fontSize(24px);
	padding: 25px 0;
	text-transform: uppercase;
	font-weight: 300;
}
