doctype html
html
    head(lang="en")
        include base/meta.pug
        include base/styles.pug
        title Arq6 - People
    body
        include layout/header.pug
        .content.people
            .wrap
                h1.title People
                .people-wrap
                    .member
                        img.member__img(src="img/team-member.jpg", alt="Name Surname")
                        .member__desc
                            strong.member__name Name Surname
                            span.member__position Name of position
                    .member
                        img.member__img(src="img/team-member.jpg", alt="Name Surname")
                        .member__desc
                            strong.member__name Name Surname
                            span.member__position Name of position
                    .member
                        img.member__img(src="img/team-member.jpg", alt="Name Surname")
                        .member__desc
                            strong.member__name Name Surname
                            span.member__position Name of position
                    .member
                        img.member__img(src="img/team-member.jpg", alt="Name Surname")
                        .member__desc
                            strong.member__name Name Surname
                            span.member__position Name of position
                    .member
                        img.member__img(src="img/team-member.jpg", alt="Name Surname")
                        .member__desc
                            strong.member__name Name Surname
                            span.member__position Name of position
                    .member
                        img.member__img(src="img/team-member.jpg", alt="Name Surname")
                        .member__desc
                            strong.member__name Name Surname
                            span.member__position Name of position
                    .member
                        img.member__img(src="img/team-member.jpg", alt="Name Surname")
                        .member__desc
                            strong.member__name Name Surname
                            span.member__position Name of position
                    .member
                        img.member__img(src="img/team-member.jpg", alt="Name Surname")
                        .member__desc
                            strong.member__name Name Surname
                            span.member__position Name of position
                    .member
                        img.member__img(src="img/team-member.jpg", alt="Name Surname")
                        .member__desc
                            strong.member__name Name Surname
                            span.member__position Name of position
                    .member
                        img.member__img(src="img/team-member.jpg", alt="Name Surname")
                        .member__desc
                            strong.member__name Name Surname
                            span.member__position Name of position
                    
                    
        include layout/footer.pug
        include base/scripts.pug
