doctype html
html
    head(lang="en")
        include base/meta.pug
        include base/styles.pug
        title Arq6 - Services
    body
        include layout/header.pug
        .content.services.wrap
            .service
                h2.service__title.title Still Images
                img.service__img(src="img/service-sample.jpg", alt="Service Sample")
                p.service__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            .service
                h2.service__title.title Images
                img.service__img(src="img/service-sample.jpg", alt="Service Sample")
                p.service__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            .service
                h2.service__title.title Animation &amp; Film
                img.service__img(src="img/service-sample.jpg", alt="Service Sample")
                p.service__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            .service
                h2.service__title.title VR &amp; AR Solutions
                img.service__img(src="img/service-sample.jpg", alt="Service Sample")
                p.service__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        include layout/footer.pug
        include base/scripts.pug
