doctype html
html
    head(lang="en")
        include base/meta.pug
        include base/styles.pug
        title Arq6 - Still Image
    body
        include layout/header.pug
        .content.still-image
            .category
                a(href="#").category__single.category__large
                    img(src="img/still1.jpg", alt="Still Image")
                a(href="#").category__single
                    img(src="img/still2.jpg", alt="Still Image")
                a(href="#").category__single
                    img(src="img/hero.jpg", alt="Still Image")
                .category__single
                    p.category__title residential stories
                a(href="#").category__single
                    img(src="img/hero1.jpg", alt="Still Image")
                a(href="#").category__single
                    img(src="img/hero2.jpg", alt="Still Image")
            .category
                a(href="#").category__single.category__large
                    img(src="img/still3.jpg", alt="Still Image")
                a(href="#").category__single
                    img(src="img/still4.jpg", alt="Still Image")
                a(href="#").category__single
                    img(src="img/still5.jpg", alt="Still Image")
                .category__single
                    p.category__title public stories
                a(href="#").category__single.category__large
                    img(src="img/still6.jpg", alt="Still Image")
                a(href="#").category__single
                    img(src="img/still1.jpg", alt="Still Image")
                a(href="#").category__single
                    img(src="img/still2.jpg", alt="Still Image")
                a(href="#").category__single
                    img(src="img/hero.jpg", alt="Still Image")
                a(href="#").category__single.category__large
                    img(src="img/hero2.jpg", alt="Still Image")
        include layout/footer.pug
        include base/scripts.pug
