/*
===================================================
FOOTER
===================================================
*/

.footer {
    background: #484748;
    padding: 25px 0;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    p {
        width: 33%;
        color: #fff;
    }
}

.footer__link {
    text-align: center;
}

.footer__dev {
    text-align: right;
    a {
        text-decoration: underline;
        &:hover {
            color: #00c853;
            text-decoration: none;
        }
    }
}