.contact-block
            h2.title Get in touch
            .contact-block__wrap.wrap
                .office-block
                    h3.office-block__title Europe
                    p.office-block__desc 
                        | +47 98642730<br>
                        | Sandviksvelen 62<br>
                        | Bergen, Norway<br>
                        a.office-block__mail(href="#") info@arq6.com
                .office-block
                    h3.office-block__title Middle East
                    p.office-block__desc 
                        | +47 98642730<br>
                        | Sandviksvelen 62<br>
                        | Bergen, Norway<br>
                        a.office-block__mail(href="#") info@arq6.com
                .office-block
                    h3.office-block__title Asia
                    p.office-block__desc 
                        | +47 98642730<br>
                        | Sandviksvelen 62<br>
                        | Bergen, Norway<br>
                        a.office-block__mail(href="#") info@arq6.com