footer.footer
    .footer__wrap.wrap
        p.footer__copy Copyright @ 2018 Arq6 All Rights Reserved
        p.footer__link
            a(href="#") arq6.com
        p.footer__dev
            | Developed by: 
            a(href="https://grad-agency.com" target="_blank") Grad Agency