<!-- Pushy Menu -->
<nav class="pushy pushy-left">
    <div class="pushy-content">
        <ul>
            <li class="pushy-link"><a href="#">About</a></li>
            <!-- Submenu -->
            <li class="pushy-submenu">
                <button>Stories</button>
                <ul>
                    <li class="pushy-link"><a href="#">Still Images</a></li>
                    <li class="pushy-link"><a href="#">Motion Images</a></li>
                    <li class="pushy-link"><a href="#">Animation &amp; Films</a></li>
                    <li class="pushy-link"><a href="#">VR &amp; AR Solutions</a></li>
                    <li class="pushy-link"><a href="#">Portfolio</a></li>
                </ul>
            </li>
            <li class="pushy-link"><a href="#">Services</a></li>
            <li class="pushy-link"><a href="#">People</a></li>
            <li class="pushy-link"><a href="#">News</a></li>
            <li class="pushy-link"><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>

header.header#header
    .header-top
        .logo
            a(href="#")
                img.logo__img(src="img/logo.png", alt="ARQ6")
            .logo__text
                p exploring
                p the art
        nav.main-menu
            ul.main-menu__list
                li.main-menu__item
                    a.main-menu__link(href="#") About
                li.main-menu__item
                    a.main-menu__link(href="#") Stories
                        ul.main-menu-stories
                            li.main-menu__item
                                a.main-menu__link(href="#") Still Images
                            li.main-menu__item
                                a.main-menu__link(href="#") Motion Images
                            li.main-menu__item
                                a.main-menu__link(href="#") Animation &amp; Films
                            li.main-menu__item
                                a.main-menu__link(href="#") VR &amp; AR Solutions
                            li.main-menu__item
                                a.main-menu__link(href="#") Portfolio
                li.main-menu__item
                    a.main-menu__link(href="#") Services
                li.main-menu__item
                    a.main-menu__link(href="#") People
                li.main-menu__item
                    a.main-menu__link(href="#") News
                li.main-menu__item
                    a.main-menu__link(href="#") Contact
        .menu-btn
            b
            b 
            b
    .header-social
        a.header-social__link(href='#')
            i.icon-linkedin
        a.header-social__link(href='#')
            i.icon-instagram
        a.header-social__link(href='#')
            i.icon-facebook
        a.header-social__link(href='#')
            i.icon-youtube
    .swiper-container
        .swiper-wrapper
            .swiper-slide.slide-1
            .swiper-slide.slide-2
            .swiper-slide.slide-3
        .swiper-button-prev
        .swiper-button-next