.social
    a.social__link(href='#')
        i.icon-linkedin
    a.social__link(href='#')
        i.icon-instagram
    a.social__link(href='#')
        i.icon-facebook
    a.social__link(href='#')
        i.icon-youtube